body {
  font-family: sans-serif;
  background-color: #666;
}



.palette {
  list-style: none;
  padding: 0;
}
.palette li {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#stage {
  border: 1px solid #333;
  position: relative;
  width: 800px;
  height: 800px;
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Donkey_1_arp_750px.jpg)*/
}

#stage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  /*background-color: pink;*/
  cursor: default;
}
